$default-width: 900px;
// $main-color: rgba(0, 0, 0, 0.1);
// $primary-color: #00a8a8;
// $primary-color-dark: #007879;
// $primary-color-light: #59dad9;
$text-color-main: #2d2d2d;
$text-color-secondary: #282612;
$lilac: #e4ddf4;
$orange: #ff914d;

$sage-dark: #7B876D;
$sage-light: #989E8B;
$brown-dark: #893F04;
$brown-orange: #C67F43;
$brown-light: #D49B7E;
$brown-lightest: #DDB8A6;

$primary-color: #fff;
$primary-color-dark: #fff;
$primary-color-light: #fff;
$background-color: #fff;
$nav-color:$brown-orange; 
$orange: #ff914d;
$text-color: black; 



