@import '../../styles/_colors.scss';

header {
    margin: 10px auto;
    width: 500px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 4px;
  
    .header-name {
        padding: 4px 0;
        font-size: 40px;
        font-weight: bold;

        a {
            color: $text-color-secondary;
            &:hover {
                color: orange;
            }
        }
    }
    .Nav-logo {
        height: 60px;
        width: 60px;
        background-color: #ffff;
        color: #737373;
        border-radius: 50%;
        display: flex;
        align-self: center;
        justify-content: center;
    
        img{
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }
    }
    .header-webdev {
        padding: 4px;
        background-color: brown;
        font-size: 18px;
        color: $lilac;
    }
}