@import '../../styles/_colors.scss';

header {
    margin: 10px auto;
     width: 500px;
    letter-spacing: 4px;
    text-align: center;
    .main-header {
    padding: 4px 0;
    font-size: 2.0rem;
    font-weight: bold;
 
    font-family:cursive;
    }
  .sub-header {
    padding: 4px;
    background-color: $brown-orange;
    color: $text-color;
    // text-align: center;
  }
}