@import '../../styles/colors.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

/* ---- Navbar Section---- */
// 
nav {
   margin: 20px auto;
   max-width: $default-width;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .menu {
        text-align: center;
        li {
           padding: 0 20px;
            display: inline-block;
            border-right: 1px solid $sage-dark;

            &:last-child {
                border-right: none;
            }           
        }
        .nav-active {
            color: $brown-dark 
        }  
    }
}