@import './styles/_colors.scss';
*,
*:before,
*:after {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

html {
  margin-left: calc(100vw - 100%);
    body {
      // height: 100vh;
    //  background-image: url("https://source.unsplash.com/d4lv5slqeqY/1600x900");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // text-shadow: 1px 1px 1px #007879;
      color: $text-color;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
}


/* ---- Header Section---- */
/* ---- End Header Section---- */






/* ---- End Navbar Section---- */

/* ---- Pages Section---- */
/* ---- End Pages Section---- */

/* ---- Footer Section---- */
/* ---- End Footer Section---- */

/* Color theme Lilac, rust, cream and coal:
  https://99designs.com/blog/tips/website-color-schemes/  */

